<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather App - About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/me.jpg" class="portrait">
        <p>My name is Sameh Magdy and I'm a backend web developer with experience in Node.js, Typescript, Express, MongoDB, RESTful APIs and AWS.</p>
        <p>I've worked both at software houses and as a freelancer to build web apps and backend APIs for mobile apps.</p>
    </div>
    {{>footer}}
</body>
</html>